<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Busca de Mangás</title>
  <link rel="stylesheet" href="./styles/home.css" />
</head>
<body>
  <header id="header">
        <div class="headerBox">
            <div class="logo">  
                <img src="./assets/mangafinderlogo.png" alt="">
                <h1>MangáFinder</h1>
            </div>
            <div class="links">
                <ul>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./login.html">Login</a></li>
                    <li><a href="./register.html">Registrar</a></li>
                </ul>
            </div>
        </div>
  </header>
  <div class="search-bar">
    <input type="text" id="searchInput" placeholder="Digite o nome do mangá" />
    <button onclick="searchMangas()">Buscar</button>
  </div>

  <div class="mangas" id="mangaContainer">
    <!-- Mangás vão aparecer aqui -->
  </div>
  <footer>
      <div class="footerbox">
          <div class="conteudofooter">
              <div class="sobre">
                  <h1>Sobre Nós</h1>  
                  <a href="https://github.com/Crystian-Paz"></a>
                  <a href="https://github.com/Neoxepa">Perfil Guilherme</a>
                  <a href="https://github.com/MHustenir">Perfil Matheus Hustenir</a>
                  <a href="https://github.com/Mathezoarxxa">Perfil Matheus</a>
                  <a href="https://github.com/Kaique-Lemos">Perfil Kaique</a>
                  <a href="https://github.com/Kc1fer">Perfil Cauã</a>
                  <a href="https://github.com/DEGUSTEBR">Perfil Bruno</a>
              </div>
              <div class="sobregit">
                  <h1>Github</h1>
                  <a href="https://github.com/Crystian-Paz/MangaFinder">Link do Projeto</a>
              </div>
          </div>
          <h1 class="criado">Site Criado por Jambrolhados</h1>
      </div>
  </footer>
  <script src="script.js"></script>
</body>
</html>