<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Usuários</title>
    <link rel="stylesheet" href="../View/styles/styles.css">
</head>
<script src="../Controller/headerController.js"></script>
<body>
    <header id="header">
        <div class="headerBox">
            <div class="logo">  
                <img src="./assets/mangafinderlogo.png" alt="">
                <h1>MangáFinder</h1>
            </div>
            <div class="links" id="navLinks">
                <ul id="navList">
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./login.html" id="linkLogin">Login</a></li>
                    <li><a href="./register.html" id="linkRegister">Registrar</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Listagem de Usuários</h1>
        
        
        <div class="search-bar">
            <input 
                type="text" 
                id="busca" 
                placeholder="Filtrar por nome..." 
                oninput="filtrarUsuarios()"
            >
        </div>

        
        <table id="tabela-usuarios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="corpo-tabela">
               
            </tbody>
        </table>
    </div>
    <footer>
        <div class="footerbox">
            <div class="conteudofooter">
                <div class="sobre">
                    <h1>Sobre Nós</h1>  
                    <a href="https://github.com/Crystian-Paz"></a>
                    <a href="https://github.com/Neoxepa">Perfil Guilherme</a>
                    <a href="https://github.com/MHustenir">Perfil Matheus Hustenir</a>
                    <a href="https://github.com/Mathezoarxxa">Perfil Matheus</a>
                    <a href="https://github.com/Kaique-Lemos">Perfil Kaique</a>
                    <a href="https://github.com/Kc1fer">Perfil Cauã</a>
                    <a href="https://github.com/DEGUSTEBR">Perfil Bruno</a>
                </div>
                <div class="sobregit">
                    <h1>Github</h1>
                    <a href="https://github.com/Crystian-Paz/MangaFinder">Link do Projeto</a>
                </div>
            </div>
            <h1 class="criado">Site Criado por Jambrolhados</h1>
        </div>
    <script src="../Controller/script.js"></script>
</body>
</html>