<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil - MangáFinder</title>
    <link rel="stylesheet" href="../View/styles/profile.css">
</head>
<script src="../Controller/headerController.js"></script>
<body>
    <header id="header">
        <div class="headerBox">
            <div class="logo">  
                <img src="./assets/mangafinderlogo.png" alt="">
                <h1>MangáFinder</h1>
            </div>
            <div class="links" id="navLinks">
                <ul id="navList">
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./login.html" id="linkLogin">Login</a></li>
                    <li><a href="./register.html" id="linkRegister">Registrar</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Informações da página -->
    <div id="perfilData" class="perfilData">
        <h1>Meu Perfil</h1>
        <img src="https://i.pinimg.com/474x/69/50/1b/69501b91b9aad7e2e62819ba91ca7ffe.jpg" alt="imagem de perfil" class="imagem-perfil">

        <!-- Modo View -->
      <div class="view-mode">
        <h2><span id="viewNome" class="viewNome"></span></h2>
          <div class="extrainfo">
               <h5><span id="viewUsuario"></span></h5>
               <h6>|</h6 >
               <h5><span id="viewPais"></span></h5>
               <h6>|</h6 >
               <h5><span id="viewEmail"></span></h5>
        </div>
        <button id="btnEditar">Editar Perfil</button>
        <button id="btnLogout">Logout</button>
     </div>

        <!-- Modo Edit -->
        <div class="edit-mode">
            <p><strong>NOME:</strong> <input type="text" id="editNome"></p>
            <p><strong>USUÁRIO:</strong> <input type="text" id="editUsuario"></p>
            <p><strong>PAÍS:</strong> <input type="text" id="editPais"></p>
            <p><strong>EMAIL:</strong> <input type="email" id="editEmail"></p>
            <button id="btnSalvar">Salvar</button>
            <button id="btnCancelar">Cancelar</button>
        </div>

    </div>
    <footer>
        <div class="footerbox">
            <div class="conteudofooter">
                <div class="sobre">
                    <h1>Sobre Nós</h1>  
                    <a href="https://github.com/Crystian-Paz">Perfil Crystian</a>
                    <a href="https://github.com/Neoxepa">Perfil Guilherme</a>
                    <a href="https://github.com/MHustenir">Perfil Matheus Hustenir</a>
                    <a href="https://github.com/Mathezoarxxa">Perfil Matheus</a>
                    <a href="https://github.com/Kaique-Lemos">Perfil Kaique</a>
                    <a href="https://github.com/Kc1fer">Perfil Cauã</a>
                    <a href="https://github.com/DEGUSTEBR">Perfil Bruno</a>
                </div>
                <div class="sobregit">
                    <h1>Github</h1>
                    <a href="https://github.com/Crystian-Paz/MangaFinder">Link do Projeto</a>
                </div>
            </div>
            <h1 class="criado">Site Criado por Jambrolhados</h1>
        </div>
    </footer>
    <script src="../Controller/profileController.js"></script>
</body>
</html>