<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/register.css">
    <title>MangáFinder</title>
</head>
<body>
    <header id="header">
        <div class="headerBox">
            <div>
                <img src="" alt="">
                <h1>MangáFinder</h1>
            </div>
            <div class="links">
                <ul>
                    <li>Home</li>
                    <li>Login</li>
                    <li>Registrar</li>
                </ul>
            </div>
        </div>
    </header>
    <h1>Criar conta</h1>
    <div class="FormCard">
        <form id="formCadastro">
            <input type="text" class="formsBoxStyle" id="nome" placeholder="Nome" required>
            <input type="email" class="formsBoxStyle" id="email" placeholder="Email" required>
            <input type="text" class="formsBoxStyle" id="usuario" placeholder="Usuário" required>
            <input type="text" class="formsBoxStyle" id="pais" placeholder="pais" required>
            <input type="password" class="formsBoxStyle" id="senha" placeholder="Senha" required>
            <input type="password" class="formsBoxStyle" id="confirmarSenha" placeholder="Confirmar Senha" required>
            <input type="submit" id="buttonCadastrar" value="Enviar">
        </form>
    </div>
    <script src="../Controller/registerController.js"></script>
</body>
</html>